@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: var(--paragraph-Lato);
    max-width: 960px;
    padding: 20px;   
}

:root {
    --primary-color: #7A918D;
    --secondary-color: #A18276;
    --accent1-color: #302B27;
    --accent2-color: #FFF8F0;
    --heading-font: 'Lato';
    --paragraph-font: 'Lato';
    
}

