@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --primary-color: #38796b;
    --secondary-color: #705b52;
    --accent1-color:#3c6464;
    --accent2-color: #eceae7;
    --heading-font: 'Lato';
    --paragraph-font: 'Lato';
    --nav-background-color: #8f8b88;
    --nav-link-color:#eceae7;
    --nav-hover-link-color:#79a19b;
    --nav-hover-background-color: #705b52;
}

.hero {
    position: relative;
   
}

.hero img {
    width: 100%;
    height: auto;
    display: block; 
  }

  .hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
  }

  .hero article {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    background: gray;
    opacity: 80%;
    padding: 20px;
  }

  .hero article img {
    width: 350px; 
    height: auto;
    float: right; 
  }
  
  .hero article p {
    color: white;
    text-align: center;
  }

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

section img {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}