@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;   
}

:root {
    --primary-color: #b2bbb9;
    --secondary-color: #705b52;
    --accent1-color:#3c6464; 
    --accent2-color: #eceae7;
    --heading-font: 'Lato';
    --paragraph-font: 'Lato';
    --nav-background-color: #302B27;
    --nav-link-color:#eceae7;
    --nav-hover-link-color:#79a19b;
    --nav-hover-background-color: #705b52;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
