@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    color: teal;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px black;
    border-radius: .5rem;
    background-color: gray;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
   
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: black;
    font-size: large;
}

label {
    text-align: right;
    padding-right: 1rem;
    
}

input, select, textarea {
    padding: .5rem;
    font-size: medium;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: rgb(233, 229, 229);
    color: black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: large;
}

button:hover {
    background-color: rgb(202, 200, 200);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: large;
    border-top: 1px solid black;
}

.form-item {
    align-items: center;
    display: grid;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

